<div class="card" style="width: 100%;">
    <img src="{{quest_img}}" class="card-img-top" alt="image" style="margin: auto; max-width:550px; max-height:306px;">
    <div class="card-body">
        <p class="card-text">{{question}}</p>
    </div>
    <div class="mb-3" id="radio-questions">
    {{#each answers}}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.id}}" value="{{value}}" ident="{{question_id}}">
            <label class="form-check-label" for="flexRadioDefault1">
                {{answer}}
            </label>
        </div>
    {{/each}}
    </div>
    <script>
    // add an event addEventListener to the radio buttons and pass their values when clicked
        const radio_questions = document.getElementById('radio-questions')
        radio_questions.addEventListener('click', (e) => {
            const value = e.target.value;
            const qid = e.target.getAttribute('ident');
            
            localStorage.setItem(`${qid}`, JSON.stringify(value));
            if( qid < 6 ) {
                var url = parseInt(qid) + 1;
                window.location.assign(`./${url}`);
            
            } else {
                const list = [];
                for (i = 1; i < 7; i++) {
                list.push(JSON.parse((localStorage.getItem(i))));
                }
                //const winner = list.reduce((a, v) => {(a[v] ? a[v] += 1 : 1, 0); return a;}, {});
            console.log(list);
            //console.log(winner);
            //    console.log(list);
            window.location.assign(`./results`);
            //localStorage.clear();
            }
        });   
    
</script>   
</div>