<div class="card" style="width: 100%;">
    <img src="{{quest_img}}" class="card-img-top" alt="image" style="margin: auto; max-width:550px; max-height:306px;">
    <div class="card-body">
        <p class="card-text">{{question}}</p>
    </div>
    <div class="mb-3" id="radio-questions">
    {{#each answers}}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{response.id}}" value="{{value}}">
            <label class="form-check-label" for="flexRadioDefault1">
                {{answer}}
            </label>
        </div>
    {{/each}}
    </div>
</div>

<script>
    // add an event addEventListener to the radio buttons and pass their values when clicked
    
    document.querySelectorAll('input[type=radio]').forEach(function(radio) {
        radio.addEventListener('click', function() {
            const value = radio.value;
            //define user as the user id
            user = User.user
            localStorage.setItem.join(user, value.join(','));
            try{
            // get the next question using the question id post route
            
            document.reload();
            }
            catch(err){
                console.log(err);
            }
        });
    });
 </script>   

{{!-- 
    1. This may need to be `uestion.handlebars`. it will receive a single question form teh controlelr
    2. Client-side JS - listen for `document.querySelector("#radio-questions").addEventListener('change', e => 
        // TODO: Use location.replace(http://locahost:3001/questions/${e.target.id + 1}
    ) 
    3. Uplodate localstore
    4. Router receives this GET request and send the next question
 --}}